.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
}
.header{
    background-color: dodgerblue;
}
.title {
    font-size: 55px;
    color: white;
    text-align: left;
    width: 100%;
    height: 8%;
    margin: 10px;
}


.footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    align-items: center;
    font-size: 50px;
    color: black;
}

.click1{
    width: 50%;
    border-radius: 0px;
    height: 100px;
    background-color: #ff1f6fff;

}
.click2{
    width: 50%;
    border-radius: 0px;
    height: 100px;
    background-color: #ff8450ff;
}
.body{
    top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.body2{
    top: 50px;
    display: none;
    flex-wrap: wrap;
}
.input-item{
    width: 100%;
    height: 10%;
    margin-top: 10px;

}
.color {
    margin: 0 4% 0 4% ;
    width: 92%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.input-title {
    color: #121317;
}
.input {
    width: 80%;
    left: 10%;
    background-color: white;
}
.radio-div{
    left: 10%;
    font-size: 25px;
}
.radio{

}
.save1{
    width: 300px;
    height: 80px;
    left: 30%;
    border-radius: 20px;
    top: 20%;
}
.save2{
    width: 300px;
    height: 80px;
    left: 30%;
    border-radius: 20px;

}