
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
}
.header{
    background-color: dodgerblue;
}
.title {
    font-size: 55px;
    color: white;
    text-align: left;
    width: 100%;
    height: 8%;
    margin: 10px;
}
.page{

}
.footer{
    position: fixed;
    bottom: 0%;
    height: 10%;

    align-items: center;
    background-color: #ffefefef;
}
.button1,.button2,.button3,.button4{
    margin-top: 60%;
    display: flex;

}
.click1 {
    width: 51%;
    align-items: center;
    text-align: center;
}
.click2 {
    width: 51%;
    align-items: center;
    text-align: center;
}

.click-img {
    width: 60px;
    height: 60px;
    margin-left:40%
}
.margin{
    width: 100px;
}
.text{
    font-size: 30px;
    text-align: left;
    position: absolute;
    margin-left: 20%;
    margin-top: 70%;
}
.text1{
    font-size: 30px;
    text-align: left;
    position: absolute;
    margin-left: 70%;
    margin-top: 70%;
}
.my{
    display: none;
    height: 100%;
}
.adminimg{
    position: absolute;
    top:400px;
    margin: auto;
    width:300px;
    height: 300px;
    left: 200px;
}
.textarea{

    height: 10000px;
    width: 800px;
}
.admintext{
    position: absolute;
    font-size: 50px;
    top: 600px;
    width: 100%;
    left: 50px;
}
.admintext2{
    position: absolute;
    font-size: 40px;
    top: 100px;
    width: 100%;
    left: 0px;
}
.adminaccount1{
    position: absolute;
    font-size: 50px;
    top: 800px;
    width: 100%;
    left: 50px;
}
.adminaccount2{
    position: absolute;
    font-size: 40px;
    top: 900px;
    width: 90%;
    left: 50px;
}
.logout{
    align-items: center;
    text-align: center;
    position: absolute;

    z-index: 10;
}
.logoutbutton{
    z-index: 100;
position: absolute;
left: 200px;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    top: 70%;

}